@{
    ViewData["Title"] = "About us";
}
<h1>@ViewData["Title"]</h1>

<section id="about">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h2>About Us</h2>
                        <div class="about-content">
Welcome to Ash Farming, your number one source for Farm Fresh Produce. We're dedicated to giving
you the very best of products, with a focus on dependability, customer service and
excellent prices.
                            <br/>
Founded in 2022 by 3 Sisters, Ash Farming is well on its way to being established as a household name.
We provide organic fruit and vegetables, freshly picked and packed for you. Our livestock is free range
and we follow a hormone free program. We take great pride in raising our livestock in a
relaxed environment.
                             <br/>
We hope you enjoy our products as much as we enjoy offering them to you. If you have any
questions or comments, please don't hesitate to contact us.

                        </div>
                    </div>
                    <div class="col-md-6 skills-bar">
                        <p>Delivery Rate</p>
                        <div class="progress">
                            <div class="progress-bar" style="width:85%; background-color:#9FC131">85%</div>
                        </div>

                        <p>Customer Growth</p>
                        <div class="progress">
                            <div class="progress-bar" style="width:75%;  background-color:#9FC131">75%</div>
                        </div>

                        <p>Happy Employee</p>
                        <div class="progress">
                            <div class="progress-bar" style="width:90%;  background-color:#9FC131">90%</div>
                        </div>

                    </div>
                </div>

            </div>
            </section>
<section id="team">
                <div class="container">
                    <h1>Our Team</h1>
                    <div class="row">
                        <div class="col-md-2 profile-pic text-center">
                            <div class="img-box">
                                <img src="~/Images/profiles/riette.png"
                                    class="img-responsive">
                            </div>
                            <h2>Riette Burger</h2>
                            <h3>The Silent Partner</h3>

                        </div>

                        <div class="col-md-2 profile-pic text-center">
                            <div class="img-box">
                                <img src="~/Images/profiles/elize.jpg"
                                    class="img-responsive">
                                </div>
                            <h2>Elize Burger</h2>
                            <h3>Business Manager</h3>

                        </div>

                        <div class="col-md-2 profile-pic text-center">
                            <div class="img-box">
                                <img src="~/Images/profiles/andrea.jpg"
                                    class="img-responsive">
                            </div>
                            <h2>Andrea vd Westhuizen</h2>
                            <h3>Farm Manager</h3>
                        </div>
                    </div>
                </div>
            </section>
                    <!------Services Section------->
            <section id="services">

                <div class="container">
                    <h1>What we believe</h1>
                    <div class="row services">
                        <div class="col-md-2 text-center">
                            <div class="icon">
                                <i class="fa fa-phone"></i>
                            </div>
                            <h3> 24/7 Support</h3>
                            <p>on order related queries</p>
                        </div>

                        <div class="col-md-2 text-center">
                            <div class="icon">
                                <i class="fa fa-shopping-cart"></i>
                            </div>
                            <h3> Return within 3 days</h3>
                            <p>of receiving your order</p>
                        </div>

                        <div class="col-md-2 text-center">
                            <div class="icon">
                                <i class="fa fa-truck"></i>
                            </div>
                            <h3>Get free delivery</h3>
                            <p>on orders above R 99</p>
                        </div>
                    </div>
                </div>

            </section>