@{
    ViewData["Title"] = "FAQ";
}

<h1>@ViewData["Title"]</h1>

<section id="about">
            <div class="container">
            <h4>What is your delivery time?</h4>
            <p>Delivery is completed within 3 workdays from the date order is placed <br>
and payment made.</p>

            
            <h4>Can I submit bulk orders?</h4>
            <p>Yes, you can. Please communicate with us ahead of time to ensure timeous <br>
delivery.</p>
            
            <h4>Do you provide Catering services?</h4>
            <p>Currently we don't, we can however recommend affiliates</p>

            
            <h4>What happens if the weight of meat products vary from <br>
the listed weight? </h4>
            <p>The meat products will reflect the minimum weight, and we will not adjust the  <br> 
price you pay for products weighing slightly more</p>

            
            <h4>What is your return policy?</h4>
            <p>If you are displeased with your products, you need to contact us upon receipt of <br>
your delivery, so that returns can be arranged in time.</p>

            
            <h4>Do you deliver country wide?</h4>
            <p>Depending on the products. Meat products will only be delivered in Gauteng area. <br>
Longer lasting Fruits and Vegetables will be delivered country wide.</p>

            
            <h4>How do you ensure your products remain fresh?</h4>
            <p>We pick and pack our products as we receive orders. Meat products are vacume sealed <br>
and stored at appropriate temperatures</p>

        </div>
        </section>