@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<section id="about">
            <div class="container">
            <h4>We respect your privacy and are fully POPIA compliant</h4>
            <p>Please see 'My Profile' for all personal information we have and what we do with it</p>

        </div>
        </section>
